* {
	font: 1rem 'Fira Sans', sans-serif;
}

.center {
	display: grid;
	place-items: center;
}

input[type=email], input[type=password] {
	background: #f1f1f1;
	width: 90%;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
	margin: 5px 0;
	/*box-shadow: 0 0 10px 1px #808080;*/
}

input[type=submit] {
	border-radius: 5px;
	border: 0;
	width: 90%;
	height: 25px;
	background: #989190;
	color: white;
}

/* To remove drop down arrow */
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#drop {
	padding-top: 5px;
	width: 90%;
	border: 1px solid #000;
	border-radius: 10px;
	margin: 5px 0;
	cursor: pointer;
	/*box-shadow: 0 0 10px 1px #808080;*/
}

fieldset {
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px #808080;
}

legend {
	background-color: #989190;
	color: white;
	border-radius: 10px;
	padding: 10px 5px;
	box-shadow: 0 0 10px 1px #808080;
	border: 1px solid transparent;
}
